body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.wrapper {
    overflow: auto;
    height: CALC(100vh - 64px);
}
table {
    margin: 16px auto;
    width: CALC(100vw - 32px);
    height: CALC(100vh - 64px);
    box-shadow: 0px 0px 0px 0px white;
}
td {
    background-color: #3D3D3D;
    border-radius: 2px;
    position: relative;
    z-index: -1; /* to appear underneath the box shadow */
}
td.start {
    background-color: green;
}
td.goal {
    background-color: red;
}
td.path {
    background-color: yellow;
}
td.searched {
    background-color: blue;
}
td.wall {
    background-color: black;
}
td > div {
    min-width: 24px;
    min-height: 24px;
}